#header .header-main {
  padding: 0 1.5rem;
  padding-top: 30px;
  padding-bottom: 4px;
  column-gap: 2rem;
}

@media screen and (min-width: 750px) {
  #header .header-main {
    padding-left: 2rem;
    padding-right: 1.2rem;
  }
}

@media screen and (min-width: 990px) {
  #header .header-main {
    padding-bottom: 8px;
  }
}
#summary-icon {
  height: 3.6rem;
  width: 3.6rem;
}

#header marquee {
  position: fixed;
  padding: 0.3rem 1rem;
  height: 3rem;
  top: 0;
  width: 100%;
  z-index: 3;
  font-size: 14px;
}

#header path {
  fill: black !important;
}

#header .svg-logo img {
  width: 13rem !important;
  height: auto !important;
  padding: 0.75rem;
  margin-left: -0.75rem;
}

#header summary {
  list-style: none;
}

#header .icon-close {
  display: none;
}

.logo-container {
  gap: 1.7rem;
}

.icons {
  width: 100%;
}

.icons a {
  height: 3.6rem;
  width: 3.6rem;
  margin: 0 1.5rem;
}

.icons img {
  width: 1.2rem;
  height: 1.2rem;
}
